# INIZIO PROGETTO

# Download dataset from https://www.kaggle.com/datasets/missionjee/car-sales-report

## Import Libraries

In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Preliminary dataset visualization

In [3]:
df_cars = pd.read_csv('cars.csv')
print(df_cars.head())
print(df_cars.tail())
print(df_cars.info())
print(df_cars.columns)
print(df_cars.isnull().sum())

         Car_id      Date Customer Name Gender  Annual Income  \
0  C_CND_000001  1/2/2022     Geraldine   Male          13500
1  C_CND_000002  1/2/2022           Gia   Male        1480000
2  C_CND_000003  1/2/2022        Gianna   Male        1035000
3  C_CND_000004  1/2/2022       Giselle   Male          13500
4  C_CND_000005  1/2/2022         Grace   Male        1465000

                           Dealer_Name   Company       Model  \
0  Buddy Storbeck's Diesel Service Inc      Ford  Expedition
1                     C & M Motors Inc     Dodge     Durango
2                          Capitol KIA  Cadillac    Eldorado
3               Chrysler of Tri-Cities    Toyota      Celica
4                    Chrysler Plymouth     Acura          TL

                      Engine Transmission       Color  Price ($)  Dealer_No   \
0  DoubleÂ Overhead Camshaft         Auto       Black      26000  06457-3834
1  DoubleÂ Overhead Camshaft         Auto       Black      19000  60504-7114
2          Overhead Camshaft       Manual         Red      31500  38701-8047
3          Overhead Camshaft       Manual  Pale White      14000  99301-3882
4  DoubleÂ Overhead Camshaft         Auto         Red      24500  53546-9427

  Body Style    Phone Dealer_Region
0        SUV  8264678    Middletown
1        SUV  6848189        Aurora
2  Passenger  7298798    Greenville
3        SUV  6257557         Pasco
4  Hatchback  7081483    Janesville
             Car_id        Date Customer Name  Gender  Annual Income  \
23901  C_CND_023902  12/31/2023        Martin    Male          13500
23902  C_CND_023903  12/31/2023         Jimmy  Female         900000
23903  C_CND_023904  12/31/2023          Emma    Male         705000
23904  C_CND_023905  12/31/2023      Victoire    Male          13500
23905  C_CND_023906  12/31/2023       Donovan    Male        1225000

                          Dealer_Name    Company    Model  \
23901                C & M Motors Inc   Plymouth  Voyager
23902  Ryder Truck Rental and Leasing  Chevrolet    Prizm
23903          Chrysler of Tri-Cities        BMW     328i
23904               Chrysler Plymouth  Chevrolet    Metro
23905                 Pars Auto Sales      Lexus    ES300

                          Engine Transmission       Color  Price ($)  \
23901          Overhead Camshaft       Manual         Red      12000
23902  DoubleÂ Overhead Camshaft         Auto       Black      16000
23903          Overhead Camshaft       Manual         Red      21000
23904  DoubleÂ Overhead Camshaft         Auto       Black      31000
23905  DoubleÂ Overhead Camshaft         Auto  Pale White      27500

       Dealer_No  Body Style    Phone Dealer_Region
23901  60504-7114  Passenger  8583598         Pasco
23902  06457-3834    Hardtop  7914229    Middletown
23903  99301-3882      Sedan  7659127    Scottsdale
23904  53546-9427  Passenger  6030764        Austin
23905  38701-8047    Hardtop  7020564    Middletown
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23906 entries, 0 to 23905
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_id         23906 non-null  object
 1   Date           23906 non-null  object
 2   Customer Name  23905 non-null  object
 3   Gender         23906 non-null  object
 4   Annual Income  23906 non-null  int64
 5   Dealer_Name    23906 non-null  object
 6   Company        23906 non-null  object
 7   Model          23906 non-null  object
 8   Engine         23906 non-null  object
 9   Transmission   23906 non-null  object
 10  Color          23906 non-null  object
 11  Price ($)      23906 non-null  int64
 12  Dealer_No      23906 non-null  object
 13  Body Style     23906 non-null  object
 14  Phone          23906 non-null  int64
 15  Dealer_Region  23906 non-null  object
dtypes: int64(3), object(13)
memory usage: 2.9+ MB
None
Index(['Car_id', 'Date', 'Customer Name', 'Gender', 'Annual Income',
       'Dealer_Name', 'Company', 'Model', 'Engine', 'Transmission', 'Color',
       'Price ($)', 'Dealer_No ', 'Body Style', 'Phone', 'Dealer_Region'],
      dtype='object')
Car_id           0
Date             0
Customer Name    1
Gender           0
Annual Income    0
Dealer_Name      0
Company          0
Model            0
Engine           0
Transmission     0
Color            0
Price ($)        0
Dealer_No        0
Body Style       0
Phone            0
Dealer_Region    0
dtype: int64

## Start Data cleaning

In [ ]:
df_clean = df_cars.drop(columns=['Phone', 'Car_id', 'Dealer_No '])
df_clean = df_clean.fillna('John Doe')
df_clean = df_clean.rename(columns={'Price ($)': 'Price',}, inplace=True)

file_path = os.path.join(os.getcwd(), "database_cleaned.csv")
df_clean.to_csv(file_path, index=False)
print("✔️ Distanze salvate in 'database_cleaned.csv'")