Ricerca e controllo per possibili outlier

Import delle librerie necessarie

In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Inizio della parte di ricerca

In [3]:
df_clean = pd.read_csv(r'c:\Users\ilbom\Python_Corso\Data-PT-9-TeamProject-2-team-2\data\database_cleaned.csv')
df_clean.max()['Price']
df_clean.min()['Price']
df_clean['Price'].mean()
df_clean['Price'].median()
print("Media:", df_clean['Price'].mean())
print("Mediana:", df_clean['Price'].median())
print("Massimo:",df_clean.max()['Price'])
print("Minimo:",df_clean.min()['Price'])
top_10_prezzi = df_clean.nlargest(10, 'Price')
print(top_10_prezzi[['Price']])
bottom_10_prezzi = df_clean.nsmallest(10, 'Price')
print(bottom_10_prezzi[['Price']])

Media: 28090.247845729107
Mediana: 23000.0
Massimo: 85800
Minimo: 1200
       Price
7068   85800
17129  85601
358    85600
13605  85600
9228   85500
11330  85500
17947  85400
2661   85301
11428  85300
6530   85250
       Price
13946   1200
13996   1450
14010   1700
14020   2200
13949   4200
14185   4300
12      9000
260     9000
290     9000
413     9000

In [4]:
outlier_alti = df_clean[df_clean['Price'] > 80000]
outlier_bassi = df_clean[df_clean['Price'] < 9000]
num_outlier_alti = len(outlier_alti)
num_outlier_bassi = len(outlier_bassi)
print(f"\nNumero di outlier con prezzo > 80000: {num_outlier_alti}")
print(f"Numero di outlier con prezzo < 9000: {num_outlier_bassi}")
df_no_outliers = df_clean[(df_clean['Price'] <= 80000) & (df_clean['Price'] >= 9000)]
print(f"\nDimensione del dataset originale: {len(df_clean)}")
print(f"Dimensione del dataset senza outlier: {len(df_no_outliers)}")

Numero di outlier con prezzo > 80000: 220
Numero di outlier con prezzo < 9000: 6

Dimensione del dataset originale: 23906
Dimensione del dataset senza outlier: 23680

In [5]:
df_clean.max()['Annual Income']
df_clean.min()['Annual Income']
df_clean['Annual Income'].mean()
df_clean['Annual Income'].median()
print("Media:", df_clean['Annual Income'].mean())
print("Mediana:", df_clean['Annual Income'].median())
print("Massimo:",df_clean.max()['Annual Income'])
print("Minimo:",df_clean.min()['Annual Income'])
top_10_income = df_clean.nlargest(10, 'Annual Income')
print(top_10_income[['Annual Income']])
bottom_10_income = df_clean.nsmallest(10, 'Annual Income')
print(bottom_10_income[['Annual Income']])

Media: 830840.2851167071
Mediana: 735000.0
Massimo: 11200000
Minimo: 10080
       Annual Income
14026       11200000
15675        8000000
6150         7650000
9996         6800000
22407        6600000
11607        6500000
7657         6460000
8817         6400000
14183        6400000
4755         6240000
       Annual Income
23451          10080
0              13500
3              13500
7              13500
9              13500
10             13500
11             13500
13             13500
20             13500
28             13500

In [6]:
outlier_salari_alti = df_clean[df_clean['Annual Income'] > 7000000]
outlier_salari_bassi = df_clean[df_clean['Annual Income'] < 100000]
num_outlier_salari_alti = len(outlier_salari_alti)
num_outlier_salari_bassi = len(outlier_salari_bassi)
print(f"\nNumero di outlier con salari > 7000000: {num_outlier_salari_alti}")
print(f"Numero di outlier con salari < 100000: {num_outlier_salari_bassi}")
df_no_outliers = df_clean[(df_clean['Annual Income'] <= 7000000) & (df_clean['Annual Income'] >= 100000)]
print(f"\nDimensione del dataset originale: {len(df_clean)}")
print(f"Dimensione del dataset senza outlier: {len(df_no_outliers)}")

Numero di outlier con salari > 7000000: 3
Numero di outlier con salari < 100000: 5276

Dimensione del dataset originale: 23906
Dimensione del dataset senza outlier: 18627

In [14]:
top_10_redditi = df_clean.sort_values(by='Annual Income', ascending=False).head(10)
print("\nLe 10 auto con il reddito annuale più alto:")
print(top_10_redditi[['Company', 'Model', 'Annual Income', 'Price']])
bottom_10_redditi = df_clean.sort_values(by='Annual Income', ascending=False).tail(10)
print("\nLe 10 auto con il reddito annuale più basso:")
print(bottom_10_redditi[['Company', 'Model', 'Annual Income', 'Price']])

Le 10 auto con il reddito annuale più alto:
          Company          Model  Annual Income  Price
14026  Oldsmobile        Bravada       11200000  26001
15675  Mercedes-B        S-Class        8000000  85000
6150      Hyundai         Sonata        7650000  21000
9996          BMW           323i        6800000  15000
22407     Mercury          Sable        6600000  39000
11607        Ford        Mustang        6500000  25000
7657       Toyota         Celica        6460000  14000
8817      Mercury  Grand Marquis        6400000  71000
14183      Nissan          Quest        6400000  32001
4755     Chrysler       Concorde        6240000  42000

Le 10 auto con il reddito annuale più basso:
          Company          Model  Annual Income  Price
23857    Infiniti            I30          13500  49000
23864  Volkswagen            GTI          13500  25000
23865      Subaru       Forester          13500  26001
23868  Volkswagen         Passat          13500  31000
3472        Acura             RL          13500  31000
3474        Dodge        Ram Van          13500  60000
3485   Mitsubishi  Montero Sport          13500  53000
3450    Chevrolet       Cavalier          13500  20001
7      Mitsubishi         Galant          13500  42000
23451    Infiniti            I30          10080  22801

In [15]:
top_10_auto = df_clean.sort_values(by='Price', ascending=False).head(10)
print("\nLe 10 auto con il prezzo più alto:")
print(top_10_auto[['Company', 'Model', 'Annual Income', 'Price']])
bottom_10_auto = df_clean.sort_values(by='Price', ascending=False).tail(10)
print("\nLe 10 auto con il prezzo più basso:")
print(bottom_10_auto[['Company', 'Model', 'Annual Income', 'Price']])

Le 10 auto con il prezzo più alto:
          Company     Model  Annual Income  Price
7068     Cadillac  Eldorado        1388000  85800
17129    Cadillac  Eldorado        5046000  85601
358        Toyota      RAV4        1326000  85600
13605    Cadillac  Eldorado        1036000  85600
9228         Audi        A6         497500  85500
11330    Cadillac  Eldorado        1185000  85500
17947    Cadillac  Eldorado        1414000  85400
2661     Cadillac  Eldorado        1483000  85301
11428      Toyota      RAV4        1053000  85300
6530   Mercedes-B   S-Class         392250  85250

Le 10 auto con il prezzo più basso:
          Company          Model  Annual Income  Price
5818      Mercury       Mystique         830000   9000
16125    Plymouth           Neon        1180000   9000
10221     Mercury  Grand Marquis        1620000   9000
20687  Volkswagen         Passat         850000   9000
14185        Ford         Taurus        2200000   4300
13949        Ford       Explorer         680000   4200
14020  Mercedes-B          CL500          13500   2200
14010     Lincoln       Town car          13500   1700
13996  Mercedes-B        S-Class        1955000   1450
13946        Ford         Taurus          13500   1200